body{
    background-color: #37383A;
    padding: 0;
    font-family: sans-serif;
}
p{
    font-size: 1.2em;
}

h2{
    font-size: 2.7em;
}

/* --- Slider --- */
header>div, section{
    width: 101.3%;
    margin: -0.7% 0 0 -0.7%;
}

#slider{   
    width: 100%;
    overflow: hidden;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}
/* --- /Slider --- */

/* --- Mostrando el titulo con el logo --- */
#tittle{
    position: absolute;
    z-index: 100;
    color: white;
    width: 270px;
    margin: -15% 0 0 70%;
}

#tittle img{
    float : left;
    height: 100px;
}
/* --- /Mostrando el titulo con el logo --- */

/* --- Navigation Menu --- */
nav{
    z-index: 100;   
    position: fixed;
    margin-top: -43%;
    margin-left: -2%;
}

nav ul li.noselected{
    list-style: none;
    background-color: white;
    height: 70px;
    width: 70px;
    margin-top: 10%;
}

nav ul li.selected{
    list-style: none;
    background-color: #cacaca;
    height: 70px;
    width: 70px;
    margin: 10%;
}

nav ul li img{
    height: 50px;
    padding-top:10px;
    padding-left:10px;
}
/* --- /Navigation Menu --- */

/* ----- MAIN ----- */
section{
    padding: 3% 20% 7% 20%;
    width: 61.3%;
    position: relative;
}

    /* --- Light section ---*/
    section.light{
        background-color: #D8D8D8;
        color: #E34B0A;
    }
    /* --- /Ligth Section --- */

    /* --- Darck Section --- */
    section.darck{
        background-color: #E34B0A;
        color: #D8D8D8;
    }
    /* --- Darck Section --- */

    /* --- Tecnologies --- */
    #tec{
        display: block;
    }

    #tec>article>ul{
        margin: 2% 0 7% -50px;
    }

        #tec>article>ul>b>li{
            display: inline;
            margin: 0 10px;
            padding: 0 5px;
            font-size: 1.3em;
            cursor: pointer;
        }

        #tec>article>ul>b>li.selected{
            border-bottom: 2px solid #E34B0A;
        }

    #tec article{
        display: none;
    }

    #tec article.visible, li{
        display: block;
    }

    #tec div.list{
        display: inline-block;
        width: 20%;
        margin-left: 20%;
    }
        #tec div.list ul{
            margin-left: -40px;
        }
            #tec div.list li{
                margin-bottom: 10%;
            }
    /* --- /Tecnologies--- */
/* ----- /MAIN ----- */

/* --- Footer --- */
footer{
    margin-left: -0.7%;
    background-color: inherit;
    padding: 3% 20% 2% 20%;
    width: 61.3%;
    position: relative;
}
    footer>div{
        padding-bottom: 3%;
        position: relative;
    }
        footer>div img{
            width: 50px;
        }

        footer>div img:hover{
            cursor: pointer;
        }

    footer>div:nth-child(1){
        float: left;
    }
    
    footer>div:nth-child(2){
        float: right;
    }
/* --- Footer --- */